# local VS Code folder settings
.vscode/*

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc CHECK ISSUE: https://github.com/cotes2020/jekyll-theme-chirpy/issues/942#issuecomment-1479552757
*.map
sw.min.js
assets/js/dist
